body
{
 width:100%;
 margin:0px;
 padding:0px;
 font-family:helvetica;
 background-color:#BCF5A9;
}
#wrapper
{
 text-align:center;
 margin:10px;
 padding:10px;
 width:1200px;
}
#player_wrapper
{
 position:relative;
 width:2000px;

 margin-left:00px;
    margin-right:0px;
    
}
#video_player
{
 width:2000px;
}
#player_controls
{
 top:98%;
 position:absolute;
 background-color:black;
 width:100%;
 padding:5px;
 box-sizing:border-box;
}
input[type="image"]
{
 float:left;
 height:50px;
 margin-left:10px;
 margin-right:15px;
 margin-top:12px;
}
#vol_img
{
 margin-left:250px;
 width:50px;
}